@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
input{
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
}
input::placeholder{
    text-transform: none !important;
}
img{
    user-select: none;
}
body{
    background: #1E232E;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: center;
}

.app{
    width: 90%;
    max-width: 450px;
    border-radius: 20px;
    background-image: linear-gradient(135deg, #FFAA85 10%, #B3315F 100%);
    padding: 25px;
}
.app .search {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}
.app .search button{
    border: none;
    border-radius: 50%;
    background: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.weatherInfo {
    text-align: center;
}
.weatherInfo > img{
    width: 130px;
    height: auto;
    margin-top: 30px;
}
.weatherInfo > h1{
    color: #fff;
    font-size: 2rem;
}
.otherInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.otherInfo img{
    width: 30px;
    height: auto;
}
.otherInfo .col{
    display: flex;
    align-items: center;
    gap: 5px;
}
.otherInfo .col h4{
    color: #fff;
    font-size: 1rem;
    font-weight: 350;
    line-height: 20px;
    text-align: left;
    text-transform: none;
}